/.docker/prod/*
!/.docker/prod/nextjs/builder/*.*
!/.docker/prod/nextjs/init.d/*.*
!/.docker/prod/nextjs/entrypoint.sh
!/.docker/prod/nginx/*.*
!/.docker/prod/nginx/*.*
.dockerignore
node_modules
CODEOWNERS
Makefile
npm-debug.log*
yarn-debug.log*
.pnp
.pnp.js
yarn-error.log
README.md
out/
.git
build
.DS_Store
*.pem
.idea
*.tsbuildinfo
.env.*.local
.vercel
coverage
.env.local
.env.test
.eslintrc.json
.gitignore
.npmrc
.prettierignore
.prettierrc.json
.yarnrc.yml
.gitlab-ci.yml
docker-compose.yml
Dockerfile
DockerfileDev
refresh.sh
.yarnrc
.pnp.*